#title {

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}



.page-background {

    width: 100%;
    height: 100dvh;
    background: rgb(45,42,101);
    background: linear-gradient(90deg, rgba(45,42,101,0.9962185557816877) 0%, rgba(58,58,112,0.5312325613839286) 55%, rgba(48,49,110,0.3799720571822479) 87%); 

}



.body-wrap {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 50rem;
    text-align: center;
    margin: 5rem;
    padding: 2rem;
    background: rgb(48, 50, 56);
    border: 0.2rem solid rgb(100, 116, 161);
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}









.calculator-wrapper{


    




}





.calculator {
    
    display: grid;
    margin: 5rem 4rem;
    height: 20rem;
    
    
    
    }


    .calculator #num-field {

        text-align: center;
       
        grid-column: 1 / 6;
        font-size: 1.5rem;
    }




    

    .calc-buttons{

        grid-row: 2;
        height: 6rem;
        font-size: 2rem; 
        

    }