#title {

    text-align: center;



}

.body-wrap {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 50rem;
    text-align: center;
    margin: 5rem;
    background: purple;



}









.calculator-wrapper{


    




}





.calculator {
    
    display: grid;
    margin: 5rem 4rem;
    height: 20rem;
    
    
    
    }


    .calculator #num-field {

        text-align: center;
       
        grid-column: 1 / 6;
        font-size: 1.5rem;
    }




    

    .calc-buttons{

        grid-row: 2;
        height: 6rem;
        font-size: 2rem; 
        

    }